<!-- Sidebar -->
<div class="sidebar">
  <div class="flex-container">
    <div class="menu-item"><span>Instructions</span></div>
    <div class="menu-item">
      <a href="/flights" style="text-decoration: none; color: inherit"
        ><span>Flights</span></a
      >
    </div>
    <div class="menu-item">
      <a href="/checkout" style="text-decoration: none; color: inherit"
        ><span>Checkout</span></a
      >
    </div>
  </div>
  <div class="traveler"><span>Traveler</span></div>
  <div class="footer">
    Company Contact Help<br />
    Terms Privacy<br />
    © 2025 Flight.ly, Inc.
  </div>
</div>
